body {
    margin: 0;
}

code {
    white-space: pre;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #BCCCDC;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background: #9AA6B2;
    height: 100vh;
    padding-left: 1.75rem;
}

.sidebar h2 {
    margin-top: 5px;
}

.sidebar > form {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

ul{
    counter-reset: topic;
}

ul li{
    counter-increment: topic;
    list-style: none;
}

ul li ::before{
    content: "Topic " counter(topic)  " : ";
}
.row{
    width: 100vw;
}
