#edit {
    padding: 0.25rem 1.5rem;
    font-weight: bold;
    align-self: end;
}

.content {
    background: #f8f9fa;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
