{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center text-dark mb-4">Search Results for: "{{ query }}"</h1>
        {% if content %}
            <div class="list-group">
                {% for entry in content %}
                    <a href="wiki/{{ entry }}" class="list-group-item list-group-item-action">
                        <span class="badge badge-secondary">{{ forloop.counter }}</span> {{ entry }}
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning text-center" role="alert">
                No results found for "{{ query }}".
            </div>
        {% endif %}
    </div>
{% endblock %}